.bg-container {
  background-color: #eef4f7;
  min-height: 100vh;
  padding: 40px;
}

.main-heading {
  color: #334155;
  font-size: 36px;
  font-family: 'Roboto';
  margin-bottom: 40px;
  text-align: center;
  text-decoration: underline #52bbf0;
  text-underline-offset: 8px;
}

.packages-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
